@import "https://fonts.googleapis.com/css?family=Open+Sans";
/* General. */
html, body {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6em;
}

a, button {
  -webkit-transition: ease-in-out 0.6s;
  -moz-transition: ease-in-out 0.6s;
  -ms-transition: ease-in-out 0.6s;
  -o-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
}

select, input, .and {
  display: inline-block;
  margin-top: 2px;
}

.and {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  max-width: 115px;
}

select {
  max-width: 250px;
}

/* Header. */
header {
  margin-bottom: -25px;
}
header .navbar.navbar-collapse .nav.navbar-nav .align-right {
  position: absolute;
  right: 0;
}

/* Navbar. */
.navbar.navbar-default {
  margin: 0;
  padding: 0;
}

/* Main content. */
section .btn-close {
  margin-left: 5px;
}
section .container-fluid {
  border: 1px solid rgba(200, 200, 200, 0.5);
  border-radius: 4px;
  margin: 5px;
  padding-bottom: 5px;
  /* Display data. */
}
section .container-fluid .row .provider-list {
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
section .container-fluid .row .provider-list h4 {
  margin-left: 15px;
}
section .container-fluid .row .provider-list h4 span.align-right {
  float: right;
  position: relative;
  right: 5px;
}
section .container-fluid .row .provider-list .input-data .navbar-form.navbar-left .form-group {
  border: 1px solid rgba(200, 200, 200, 0.5);
  border-radius: 4px;
  padding: 5px;
}
section .container-fluid .display-data table {
  border: 1px solid rgba(200, 200, 200, 0.5);
}
section .container-fluid .display-data table tbody tr:nth-child(odd) {
  background-color: rgba(220, 220, 220, 0.3);
}

/* Bottom of Provider List. */
.bottom-provider-list h4 {
  padding: 7px 0;
}
.bottom-provider-list h4.align-center {
  margin-left: 3em;
}
.bottom-provider-list button.align-right {
  float: right;
  position: relative;
  right: 0;
}
.bottom-provider-list h4, .bottom-provider-list input, .bottom-provider-list button {
  float: left;
  margin: 0 5px;
}

/* Footer. */
footer {
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
  padding: 4px;
  overflow: auto;
}
footer h6 {
  float: left;
  margin: 0 5px;
}
footer h6#footer-left {
  float: left;
}
footer h6#footer-center {
  margin: 0 32em;
}
footer h6#footer-right {
  float: right;
  position: relative;
  right: 0;
}
