@import "https://fonts.googleapis.com/css?family=Open+Sans";
html, body {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6em;
}

header {
  margin-bottom: -25px;
}

.navbar.navbar-default {
  margin: 0;
  padding: 0;
}
