@import 'https://fonts.googleapis.com/css?family=Open+Sans';

// Variables.
$background-color: white;
$border-color: rgba(200, 200, 200, 0.5);
$border: 1px solid $border-color;
$border-radius: 4px;
$open-sans: 'Open Sans', sans-serif;

// Mixins.
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

/* General. */
html, body {
  height: 100%;
  width: 100%;
}

body {
  color: $background-color;
  font-family: $open-sans;
  font-weight: 400;
  line-height: 1.6em;
}

a, button {
  @include transition(ease-in-out 0.6s);
}

select, input, .and {
  display: inline-block;
  margin-top: 2px;
}

.and {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  max-width: 115px;
}

select {
  max-width: 250px;
}


/* Header. */
header {
  margin-bottom: -25px;

  .navbar {
    &.navbar-collapse {
      .nav {
        &.navbar-nav {
          .align-right {
            position: absolute;
            right: 0;
          }
        }
      }
    }
  }
}


/* Navbar. */
.navbar {
  &.navbar-default {
    margin: 0;
    padding: 0;
  }
}


/* Main content. */
section {
  .btn-close {
    margin-left: 5px;
  }

  .container-fluid {
    border: $border;
    border-radius: $border-radius;
    margin: 5px;
    padding-bottom: 5px;

    .row {
      .provider-list {
        border-bottom: $border;

        h4 {
          margin-left: 15px;

          span {
            &.align-right {
              float: right;
              position: relative;
              right: 5px;
            }
          }
        }

        .input-data {
          .navbar-form {
            &.navbar-left {
              .form-group {
                border: $border;
                border-radius: $border-radius;
                padding: 5px;
              }
            }
          }
        }
      }
    }

    /* Display data. */
    .display-data {
      table {
        border: $border;

        tbody {
          tr {
            &:nth-child(odd) {
              background-color: rgba(220, 220, 220, 0.3);
            }
          }
        }
      }
    }
  }
}


/* Bottom of Provider List. */
// Looking for foxy solution.
.bottom-provider-list {
  h4 {
    padding: 7px 0;

    &.align-center {
      margin-left: 3em;
    }
  }
  button {
    &.align-right {
      float: right;
      position: relative;
      right: 0;
    }
  }
  h4, input, button {
    float: left;
    margin: 0 5px;
  }
}

/* Footer. */
// Looking for foxy solution.
footer {
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
  padding: 4px;
  overflow: auto;

  h6 {
    float: left;
    margin: 0 5px;

    &#{#footer-left} {
      float: left;
    }

    &#{#footer-center} {
      margin: 0 32em;
    }

    &#{#footer-right} {
      float: right;
      position: relative;
      right: 0;
    }
  }
}
