@import 'https://fonts.googleapis.com/css?family=Open+Sans';

$background-color: white;
$open-sans: 'Open Sans', sans-serif;

html, body {
    height: 100%;
    width: 100%;
}

body {
    color: $background-color;
    font-family: $open-sans;
    font-weight: 400;
    line-height: 1.6em;
}

header {
    margin-bottom: -25px;
}

.navbar {
    &.navbar-default {
        margin: 0;
        padding: 0;
    }
}

select, input, .and {
    display: inline-block;
    margin-top: 2px;
}

.and {
    margin-left: 10px;
    margin-right: 10px;
}

input {
    max-width: 120px;
}

select {
    max-width: 250px;
}