@import "https://fonts.googleapis.com/css?family=Open+Sans";
/* line 30, ../sass/custom.scss */
html,
body {
  height: 100%;
  width: 100%;
}

/* line 36, ../sass/custom.scss */
body {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6em;
}

/* line 43, ../sass/custom.scss */
a,
button {
  -webkit-transition: ease-in-out 0.6s;
  -moz-transition: ease-in-out 0.6s;
  -ms-transition: ease-in-out 0.6s;
  -o-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
}

/* line 48, ../sass/custom.scss */
select,
input,
.and {
  display: inline-block;
  margin-top: 2px;
}

/* line 55, ../sass/custom.scss */
.and {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 60, ../sass/custom.scss */
input {
  max-width: 115px;
}

/* line 64, ../sass/custom.scss */
select {
  max-width: 250px;
}

/* line 70, ../sass/custom.scss */
header {
  margin-bottom: -25px;
}
/* line 73, ../sass/custom.scss */
header .navbar.navbar-collapse .nav.navbar-nav .align-right {
  position: absolute;
  right: 0;
}

/* line 81, ../sass/custom.scss */
.navbar.navbar-default {
  margin: 0;
  padding: 0;
}
/* line 86, ../sass/custom.scss */
.navbar.navbar-default .container-fluid .row .nav.navbar-nav .dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
/* line 93, ../sass/custom.scss */
.navbar.navbar-default .container-fluid .row .nav.navbar-nav .dropdown .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* line 103, ../sass/custom.scss */
section .btn-close {
  margin-left: 5px;
}
/* line 107, ../sass/custom.scss */
section .container-fluid {
  border: 1px solid rgba(200, 200, 200, 0.5);
  border-radius: 4px;
  margin: 5px;
  padding-bottom: 5px;
}
/* line 113, ../sass/custom.scss */
section .container-fluid .row .provider-list {
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
/* line 116, ../sass/custom.scss */
section .container-fluid .row .provider-list h4 {
  margin-left: 15px;
}
/* line 120, ../sass/custom.scss */
section .container-fluid .row .provider-list h4 span.align-right {
  float: right;
  position: relative;
  right: 5px;
}
/* line 129, ../sass/custom.scss */
section .container-fluid .row .provider-list .input-data .navbar-form.navbar-left .form-group {
  border: 1px solid rgba(200, 200, 200, 0.5);
  border-radius: 4px;
  padding: 5px;
}
/* line 134, ../sass/custom.scss */
section .container-fluid .row .provider-list .input-data .navbar-form.navbar-left .form-group .dropdown-menu {
  box-sizing: border-box;
  float: right;
  margin-top: -6px;
  position: relative;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
/* line 146, ../sass/custom.scss */
section .container-fluid .display-data table {
  border: 1px solid rgba(200, 200, 200, 0.5);
}
/* line 150, ../sass/custom.scss */
section .container-fluid .display-data table tbody tr:nth-child(odd) {
  background-color: rgba(220, 220, 220, 0.3);
}

/* line 162, ../sass/custom.scss */
.bottom-provider-list h4 {
  padding: 7px 0;
}
/* line 165, ../sass/custom.scss */
.bottom-provider-list h4.align-center {
  margin-left: 3em;
}
/* line 171, ../sass/custom.scss */
.bottom-provider-list button.align-right {
  float: right;
  position: relative;
  right: 0;
}
/* line 178, ../sass/custom.scss */
.bottom-provider-list h4,
.bottom-provider-list input,
.bottom-provider-list button {
  float: left;
  margin: 0 5px;
}

/* line 187, ../sass/custom.scss */
footer h6 {
  background-color: rgba(50, 50, 50, 0.8);
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  padding: 6px;
}
/* line 194, ../sass/custom.scss */
footer h6#footer-left {
  float: left;
  width: 33.3%;
}
/* line 199, ../sass/custom.scss */
footer h6#footer-center {
  float: left;
  text-align: center;
  width: 33.4%;
}
/* line 205, ../sass/custom.scss */
footer h6#footer-right {
  float: right;
  text-align: right;
  width: 33.3%;
}

@media (max-width: 1135px) {
  /* line 214, ../sass/custom.scss */
  input {
    max-width: 90px;
  }

  /* line 217, ../sass/custom.scss */
  select {
    max-width: 160px;
  }

  /* line 222, ../sass/custom.scss */
  .bottom-provider-list h4.align-center {
    margin-left: 0;
  }
  /* line 226, ../sass/custom.scss */
  .bottom-provider-list h4,
  .bottom-provider-list input,
  .bottom-provider-list button {
    float: none;
    margin: 5px auto;
  }
  /* line 233, ../sass/custom.scss */
  .bottom-provider-list button.align-right {
    float: none;
    margin-top: 10px;
  }
  /* line 238, ../sass/custom.scss */
  .bottom-provider-list .first-row {
    margin: 0 auto;
    text-align: center;
  }
  /* line 242, ../sass/custom.scss */
  .bottom-provider-list .second-row {
    margin: 0 auto;
    text-align: center;
  }

  /* line 248, ../sass/custom.scss */
  footer h6#footer-center {
    left: 25%;
  }
}
