@import 'https://fonts.googleapis.com/css?family=Open+Sans';

// Variables.
$background-color: #fff;
$border-color: rgba(200, 200, 200, .5);
$border: 1px solid $border-color;
$border-radius: 4px;
$footer-color: #fff;
$footer-background-color: rgba(50, 50, 50, .8);
$tr-odd-color: rgba(220, 220, 220, .3);
$open-sans: 'Open Sans', sans-serif;


// Mixins.
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin border-radius($border-radius-mixin...) {
  -webkit-border-radius: $border-radius-mixin;
  -moz-border-radius: $border-radius-mixin;
  border-radius: $border-radius-mixin;
}

// General.
html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: $background-color;
  font-family: $open-sans;
  font-weight: 400;
  line-height: 1.6em;
}

a,
button {
  @include transition(ease-in-out .6s);
}

button:hover {
  background-color: #e8e8e8!important;
}

select,
input,
button {
  background-color: #f8f8f8!important;
  margin-top: 10px!important;
}

select,
input,
.and {
  display: inline-block;
}

.and {
  margin: 10px 10px 0 10px!important;
}

input {
  max-width: 115px;
}

select {
  max-width: 250px;
}

img {
  margin: 5px;
}


// Header.
header {
  margin-bottom: -25px;

  .navbar.navbar-collapse .nav.navbar-nav {
    font-size: 18px;

    .align-right {
      position: absolute;
      right: 0;
    }
  }
}


// Navbar.
.navbar.navbar-default {
  margin: 0;
  padding: 0;

  ul.nav.navbar-nav {
    float: right;
    margin-right: 50px;
  }

  .container-fluid .row .nav.navbar-nav .dropdown .dropdown-menu .dropdown-submenu {
    & > .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      @include border-radius(0 6px 6px 6px);
    }

    &:hover > .dropdown-menu {
      display: block;
    }

  }
}


// Main content.
section {
  .btn-close {
    margin-left: 5px;
  }

  .container-fluid {
    border: $border;
    border-radius: $border-radius;
    margin: 5px;
    padding-bottom: 5px;

    .row .provider-list {
      border-bottom: $border;

      h4 {
        margin-left: 15px;
        text-align: center;

        span {
          &.align-right {
            float: right;
            position: relative;
            right: 5px;
          }
        }
      }

      // Data to input & choose.
      .input-data .navbar-form.navbar-left .form-group {
        border: $border;
        border-radius: $border-radius;
        padding: 5px;

        .dropdown-menu {
          box-sizing: border-box;
          float: right;
          margin-top: -6px;
          position: relative;

          @include border-radius(0 6px 6px 6px);
        }
      }
    }

    .display-data {
      table {
        border: $border;
        border-collapse: collapse;

        tbody tr {
          &:nth-child(odd) {
            background-color: $tr-odd-color;
          }
          td {
            font-size: 12px;
          }
        }
      }
    }
  }
}

td, th {
  text-align: left;
}


// Bottom of Provider List.
.bottom-provider-list {
  h4 {
    padding: 17px 0;

    &.align-center {
      margin-left: 3em;
    }
  }

  button {
    &.align-right {
      float: right;
      position: relative;
      right: 0;
    }
  }

  h4,
  input,
  button {
    float: left;
    margin: 0 5px;
  }
}

// Footer.
footer h6 {
  background-color: $footer-background-color;
  color: $footer-color;
  display: inline-block;
  margin: 0 auto;
  padding: 6px;

    &#{#footer-left} {
      float: left;
      width: 33.3%;
    }

    &#{#footer-center} {
      float: left;
      text-align: center;
      width: 33.4%;
    }

    &#{#footer-right} {
      float: right;
      text-align: right;
      width: 33.3%;
    }
}

// Media queries (MQ).
// MQ for buttons.
@media (max-width: 1135px) {
  input {
    width: 90px;
  }
  select {
    width: 160px;
  }

  .navbar.navbar-default ul.nav.navbar-nav {
    margin-left: 0%;
  }

  .bottom-provider-list {
    h4.align-center {
        margin-left: 0;
    }

    h4,
    input,
    button {
      float: none;
      margin: 5px auto;
    }

    button.align-right {
      float: none;
      margin-top: 10px;
    }

    .first-row {
      margin: 0 auto;
      text-align: center;
    }
    .second-row {
      margin: 0 auto;
      text-align: center;
    }
  }

  footer h6#footer-center {
    left: 25%;
  }
}
// MQ for navbar.
@media (max-width: 910px) {
  .navbar.navbar-default ul.nav.navbar-nav {
    float: left;
    font-size: 11px;
    margin-right: 0;
  }
}
// MQ for tablets.
@media (max-width: 768px) {
  select, input {
    display: block;
    max-width: 70%;
    margin: 10px auto!important;
    text-align: center;
  }

  button {
    display: block!important;
    margin: 10px auto!important;
    text-align: center;
    width: 60%;
  }

  .and {
    display: none;
  }

  img {
    display: block;
    margin: 5px auto -25px;
    text-align: center;
  }

  .navbar.navbar-default ul.nav.navbar-nav {
    float: none;
    font-size: 14px;
    margin-right: 0;
  }

  .navbar.navbar-collapse {
    display: block;
    margin: 15px auto;
    text-align: center;

    li {
      margin: 0 auto;
      text-align: center;

      a span.glyphicon.glyphicon-menu-left {
        display: none;
      }
      a span.glyphicon.glyphicon-menu-right {
        display: none;
      }
    }
  }

  .navbar.navbar-default {
    margin: 0 auto;
    text-align: center;

    li {
      margin: 0 auto;
      text-align: center;
    }
  }

  .breadcrumb {
    margin: 5px auto 0;
    text-align: center;
  }

  table, thead, tbody, tr, td {
    display: block;
  }

  thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }

  td {
    border: none!important;
    height: 30px;
    padding-left: 50%!important;
    position: relative;

    &:before {
      left: 6px;
      padding-right: 10px;
      position: absolute;
      top: 6px;
      width: 45%;
      white-space: nowrap;
    }

    &:nth-of-type(1):before { content: "Provider ID"; }
    &:nth-of-type(2):before { content: "Provider Name"; }
    &:nth-of-type(3):before { content: "NPI"; }
    &:nth-of-type(4):before { content: "Start Date"; }
    &:nth-of-type(5):before { content: "End Date"; }
    &:nth-of-type(6):before { content: "Enrollment Type"; }
    &:nth-of-type(7):before { content: "Business Status"; }
  }
}
// MQ for smartphones.
@media (max-width: 480px) {
  button {
    margin: 5px auto!important;
    width: 80%;
  }

  select, input {
    margin: 5px auto!important;
    max-width: 90%;
  }
}